.container {
  width: 970px;
  height: auto;
  min-height: 500px;
  margin: 50px auto;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
  items-align: center;
  margin: 0 auto;

}

.skillsBox {
  /* height: 200px; */
  width: 60%;
  padding: 10px;
  background-color: rgb(216, 216, 216);
  border-radius: 20px;
  border: 1px solid gray;
}

.card {
  margin: 10px;
  color: white;
}

.deleteMessage {
  border: 5px solid red;
  margin: 40px;
}

h5 {
  /* padding-top: 250px; */
  /* padding: 10px 30px; */
  background-color: rgba(255, 0, 0, 0.507);
  vertical-align: center;
}